.mat-mdc-outlined-button:not(:disabled) {
    color: #474747 !important;
}

a {
    color: #58CCC6;
}

.fondo-login {
    background: -webkit-linear-gradient(130deg, #f4e5cd, #dedede, #58ccc6, #bacfc1, #474747);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(130deg, #f4e5cd, #dedede, #58ccc6, #bacfc1, #474747);
}

@media (min-width: 768px) {
    .login-sin-fondo {
        background: white;
        /* O el color de fondo que desees para escritorio */
    }
}

.texto-inicio-sesion {
    font-size: xx-large;
}

.formulario-login {
    background-color: var(--wp-platinum);
}

.peer-focus\:-translate-y-4 {
    background: var(--wp-platinum) !important;
}

.peer-focus\:fondo-label-login-movil:is(:where(.peer):focus ~ *) {
    background: var(--wp-platinum) !important;
    border: 0 !important;
}

input:not(:focus) {
    border-color: var(--wp-space);
}