<header class="header">
  <div class="header-left">
    <button class="menu-btn" (click)="onToggleMenu()">
      <span class="material-icons">menu_open</span>
    </button>
    <h1 class="page-title">Dashboard Principal</h1>
  </div>

  <div class="header-right">
    <div class="user-profile">
      <div class="user-info">
        @if (currentUser()) {
        <span class="user-name">{{ currentUser().name }}</span>
        <span class="user-branch">{{ currentUser().role }}</span>
        }
      </div>
      <div class="avatar">
        <span class="material-icons">account_circle</span>
      </div>
    </div>
  </div>
</header>