<aside class="sidebar" [class.collapsed]="layoutService.isSidebarCollapsed()">
  <div class="logo-container">
    <span class="material-icons logo-icon">pets</span>
    <h2>WasiPet</h2>
  </div>

  <nav class="nav-menu">
    <a routerLink="/dashboard" routerLinkActive="active" class="nav-item">
      <span class="material-icons">dashboard</span>
      <span>Dashboard</span>
    </a>
    
    <a class="nav-item">
      <span class="material-icons">cruelty_free</span>
      <span>Mascotas</span>
    </a>
    <a class="nav-item">
      <span class="material-icons">calendar_month</span>
      <span>Reservas</span>
    </a>
    <a class="nav-item">
      <span class="material-icons">settings</span>
      <span>Configuración</span>
    </a>
  </nav>

  <div class="sidebar-footer">
    <button class="logout-btn">
      <span class="material-icons">logout</span>
      <span>Cerrar Sesión</span>
    </button>
  </div>
</aside>